<div class="d-flex flex-column align-items-center mx-4">
  <header class="d-flex flex-row align-items-center">
    <img class="header-img" src="assets/logo_1.png" alt="" srcset="" />
    <h1>IndoWealth Group</h1>
  </header>
  <section class="relative">
    <img class="worker-img" src="assets/worker.png" alt="" /><img
      class="float-img gear-wheel-3"
      src="assets/gear_wheel_3.png"
      alt=""
    /><img
      class="float-img gear-wheel-2"
      src="assets/gear_wheel_2.png"
      alt=""
    />
  </section>
  <section class="d-flex flex-column align-items-center">
    <h2>WORK IN PROGRESS</h2>
    <p class="d-block">
      🚧🔨 Exciting things are happening here! We're hard at work on a project
      that's set to make a real difference. Your patience is appreciated as we
      build something great with your best interests in mind. Stay tuned for
      updates and thank you for your support! 🌟🚀
    </p>
  </section>
</div>
<img class="float-img gear-1" src="assets/gear_1.png" alt="" />
<img class="float-img gear-2" src="assets/gear_2.png" alt="" />
<img class="float-img gear-3" src="assets/gear_3.png" alt="" />
<img class="float-img black-tape-1" src="assets/black_tape.png" alt="" />
<img class="float-img black-tape-2" src="assets/black_tape_2.png" alt="" />

<img class="float-img gear-lg-1" src="assets/gear_lg_1.png" alt="" />
<img class="float-img gear-lg-2" src="assets/gear_lg_2.png" alt="" />
<img class="float-img gear-lg-3" src="assets/gear_lg_3.png" alt="" />
<img
  class="float-img black-tape-lg-1"
  src="assets/black_tape_lg_1.png"
  alt=""
/>
<img
  class="float-img black-tape-lg-2"
  src="assets/black_tape_lg_2.png"
  alt=""
/>
